tailwind.config = {
  theme: {
    extend: {
      colors: {
        primary: "#050505",
        secondary: "#111111",
        card: "#151515",
        "card-hover": "#1d1d1d",

        orange: {
          100: "#FFE6D5",
          200: "#FFC7A0",
          300: "#FFA56A",
          400: "#FF8335",
          500: "#F97316",
          600: "#EA580C",
          700: "#C2410C",
        },

        gray: {
          100: "#F3F4F6",
          200: "#E5E7EB",
          300: "#D1D5DB",
          400: "#9CA3AF",
          500: "#6B7280",
          600: "#4B5563",
          700: "#374151",
          800: "#1F2937",
          900: "#111827",
        },
      },

      fontFamily: {
        cairo: ["Cairo", "sans-serif"],
        space: ["Space Grotesk", "sans-serif"],
      },
    },
  },
};